In [2]:
import pandas as pd
import numpy as np
import scipy as sk

In [3]:
unemployment_df = pd.read_excel("./Data/P_Data_Extract_From_World_Development_Indicators.xlsx")
unemployment_df

,Country Name,Country Code,Series Name,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,United States,USA,"Unemployment, total (% of total labor force) (...",3.99,4.73,5.78,5.99,5.53,5.08,4.62,...,8.07,7.37,6.17,5.28,4.87,4.36,3.9,3.67,8.05,5.35
1,United States,USA,Multidimensional poverty headcount ratio (% of...,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2,United States,USA,GDP growth (annual %),4.077159,0.954339,1.695943,2.796209,3.852553,3.48322,2.782811,...,2.280688,1.841875,2.287776,2.70637,1.667472,2.241921,2.945385,2.294439,-2.767803,5.945485
3,United States,USA,GDP per capita growth (annual %),2.925441,-0.03992,0.756774,1.91648,2.895848,2.533784,1.796486,...,1.533102,1.138692,1.540381,1.953004,0.933375,1.597136,2.404868,1.829668,-3.700953,5.779548
4,United States,USA,GNI growth (annual %),4.132211,1.056924,1.639143,2.888947,3.971954,3.425495,2.541969,...,2.189615,1.781569,2.263179,2.584132,1.701427,2.50932,2.854645,2.182576,-3.119944,5.743979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Israel,ISR,GNI per capita growth (annual %),3.77154,0.11751,-1.586101,-0.361036,3.687419,4.380329,4.197728,...,-0.49348,3.010679,3.363849,0.209397,2.434515,2.688449,2.526242,1.682132,-3.898974,6.179653
96,Israel,ISR,Imports of goods and services (annual % growth),11.95922,-5.44141,-1.2451,-0.78463,11.84649,3.48702,3.41989,...,2.14029,0.96746,2.27642,-0.2122,9.997484,4.39299,7.15185,3.16057,-8.14861,20.64214
97,Israel,ISR,"Industry (including construction), value added...",8.824157,-5.344716,-2.988441,0.237877,-0.192356,8.10117,3.850813,...,-0.439959,5.793942,-0.858773,1.064712,-1.791082,3.406352,7.510471,3.895974,-0.531169,6.046328
98,Israel,ISR,"Manufacturing, value added (annual % growth)",15.130381,-7.701468,-5.402408,1.758618,2.088661,10.834787,3.306577,...,0.652087,0.981382,-1.651901,0.075766,-3.775154,3.868018,8.825248,3.874554,2.787557,4.807323
99,Israel,ISR,"Services, value added (annual % growth)",8.525335,2.555811,1.24461,2.656022,6.365521,2.690928,6.761608,...,3.607699,3.99756,5.347359,2.862701,5.276558,4.882291,3.008247,4.128935,-1.924956,9.15127

In [4]:
unemployment_df.columns

Index(['Country Name', 'Country Code', 'Series Name', '2000 [YR2000]',
       '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]', '2004 [YR2004]',
       '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]', '2008 [YR2008]',
       '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]',
       '2021 [YR2021]'],
      dtype='object')

In [5]:
unemployment_df.drop('Country Code', axis=1, inplace=True)
unemployment_df

,Country Name,Series Name,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,United States,"Unemployment, total (% of total labor force) (...",3.99,4.73,5.78,5.99,5.53,5.08,4.62,4.62,...,8.07,7.37,6.17,5.28,4.87,4.36,3.9,3.67,8.05,5.35
1,United States,Multidimensional poverty headcount ratio (% of...,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2,United States,GDP growth (annual %),4.077159,0.954339,1.695943,2.796209,3.852553,3.48322,2.782811,2.010508,...,2.280688,1.841875,2.287776,2.70637,1.667472,2.241921,2.945385,2.294439,-2.767803,5.945485
3,United States,GDP per capita growth (annual %),2.925441,-0.03992,0.756774,1.91648,2.895848,2.533784,1.796486,1.04493,...,1.533102,1.138692,1.540381,1.953004,0.933375,1.597136,2.404868,1.829668,-3.700953,5.779548
4,United States,GNI growth (annual %),4.132211,1.056924,1.639143,2.888947,3.971954,3.425495,2.541969,2.337553,...,2.189615,1.781569,2.263179,2.584132,1.701427,2.50932,2.854645,2.182576,-3.119944,5.743979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Israel,GNI per capita growth (annual %),3.77154,0.11751,-1.586101,-0.361036,3.687419,4.380329,4.197728,4.43071,...,-0.49348,3.010679,3.363849,0.209397,2.434515,2.688449,2.526242,1.682132,-3.898974,6.179653
96,Israel,Imports of goods and services (annual % growth),11.95922,-5.44141,-1.2451,-0.78463,11.84649,3.48702,3.41989,11.12553,...,2.14029,0.96746,2.27642,-0.2122,9.997484,4.39299,7.15185,3.16057,-8.14861,20.64214
97,Israel,"Industry (including construction), value added...",8.824157,-5.344716,-2.988441,0.237877,-0.192356,8.10117,3.850813,5.514848,...,-0.439959,5.793942,-0.858773,1.064712,-1.791082,3.406352,7.510471,3.895974,-0.531169,6.046328
98,Israel,"Manufacturing, value added (annual % growth)",15.130381,-7.701468,-5.402408,1.758618,2.088661,10.834787,3.306577,4.586024,...,0.652087,0.981382,-1.651901,0.075766,-3.775154,3.868018,8.825248,3.874554,2.787557,4.807323
99,Israel,"Services, value added (annual % growth)",8.525335,2.555811,1.24461,2.656022,6.365521,2.690928,6.761608,5.886208,...,3.607699,3.99756,5.347359,2.862701,5.276558,4.882291,3.008247,4.128935,-1.924956,9.15127

In [6]:
melted_undf = pd.melt(unemployment_df, id_vars=['Country Name', 'Series Name'],var_name='Year', value_name='Percentage Value')

pattern = r'(\d{4})'

melted_undf['Year'] = melted_undf['Year'].str.extract(pattern, expand=False)

# unemployment_df = melted_undf.set_index(['Country Name', 'Series Name', 'Year'])

melted_undf

,Country Name,Series Name,Year,Percentage Value
0,United States,"Unemployment, total (% of total labor force) (...",2000,3.99
1,United States,Multidimensional poverty headcount ratio (% of...,2000,..
2,United States,GDP growth (annual %),2000,4.077159
3,United States,GDP per capita growth (annual %),2000,2.925441
4,United States,GNI growth (annual %),2000,4.132211
...,...,...,...,...
2195,Israel,GNI per capita growth (annual %),2021,6.179653
2196,Israel,Imports of goods and services (annual % growth),2021,20.64214
2197,Israel,"Industry (including construction), value added...",2021,6.046328
2198,Israel,"Manufacturing, value added (annual % growth)",2021,4.807323
2199,Israel,"Services, value added (annual % growth)",2021,9.15127

In [7]:
unemployment_df.T

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
Country Name,United States,United States,United States,United States,United States,United States,United States,United States,United States,United States,...,Israel,Israel,Israel,Israel,Israel,Israel,Israel,Israel,Israel,Israel
Series Name,"Unemployment, total (% of total labor force) (...",Multidimensional poverty headcount ratio (% of...,GDP growth (annual %),GDP per capita growth (annual %),GNI growth (annual %),GNI per capita growth (annual %),Imports of goods and services (annual % growth),"Industry (including construction), value added...","Manufacturing, value added (annual % growth)","Services, value added (annual % growth)",...,"Unemployment, total (% of total labor force) (...",Multidimensional poverty headcount ratio (% of...,GDP growth (annual %),GDP per capita growth (annual %),GNI growth (annual %),GNI per capita growth (annual %),Imports of goods and services (annual % growth),"Industry (including construction), value added...","Manufacturing, value added (annual % growth)","Services, value added (annual % growth)"
2000 [YR2000],3.99,..,4.077159,2.925441,4.132211,2.979883,12.999711,4.994076,7.153889,3.73166,...,11.1,..,8.671655,5.837794,6.550076,3.77154,11.95922,8.824157,15.130381,8.525335
2001 [YR2001],4.73,..,0.954339,-0.03992,1.056924,0.061655,-2.461286,-3.222407,-4.018484,2.160047,...,11.81,..,0.334071,-2.003266,2.505429,0.11751,-5.44141,-5.344716,-7.701468,2.555811
2002 [YR2002],5.78,..,1.695943,0.756774,1.639143,0.700498,3.669527,0.076646,1.167684,2.170958,...,12.89,..,-0.114221,-2.105855,0.416108,-1.586101,-1.2451,-2.988441,-5.402408,1.24461
2003 [YR2003],5.99,..,2.796209,1.91648,2.888947,2.008425,5.124477,3.003988,5.538818,2.464838,...,13.51,..,1.393913,-0.420346,1.454304,-0.361036,-0.78463,0.237877,1.758618,2.656022
2004 [YR2004],5.53,..,3.852553,2.895848,3.971954,3.014149,10.981441,5.549605,7.043241,3.200286,...,13.03,..,4.784467,2.948546,5.536517,3.687419,11.84649,-0.192356,2.088661,6.365521
2005 [YR2005],5.08,..,3.48322,2.533784,3.425495,2.476588,6.491297,1.556598,2.919307,3.986549,...,11.34,..,4.134077,2.314386,6.236762,4.380329,3.48702,8.10117,10.834787,2.690928
2006 [YR2006],4.62,..,2.782811,1.796486,2.541969,1.557956,6.420259,4.298931,5.775565,2.477731,...,10.71,..,5.582668,3.732573,6.05612,4.197728,3.41989,3.850813,3.306577,6.761608
2007 [YR2007],4.62,..,2.010508,1.04493,2.337553,1.36888,2.563262,2.040007,3.413954,1.865514,...,9.38,..,6.033214,4.166582,6.302074,4.43071,11.12553,5.514848,4.586024,5.886208
2008 [YR2008],5.78,..,0.122188,-0.820368,0.431315,-0.514151,-2.14705,-3.620167,-1.996952,1.011601,...,7.7,..,3.251163,1.433023,1.487782,-0.299307,2.47108,-2.27601,-4.281528,5.024283
2009 [YR2009],9.25,..,-2.599888,-3.450016,-2.536194,-3.386878,-12.609767,-7.816683,-9.571666,-1.209324,...,9.53,..,0.88312,-1.499606,0.404798,-1.966631,-13.76442,-2.525775,-6.132371,1.589806
2010 [YR2010],9.63,..,2.708857,1.860292,3.036507,2.185235,13.173488,2.363106,5.792723,2.46219,...,8.48,..,5.668515,3.755737,6.233058,4.310061,15.03209,13.605566,15.062807,3.11363
2011 [YR2011],8.95,..,1.549895,0.814519,1.702363,0.965884,4.816006,0.583368,0.468382,1.645273,...,7.14,..,5.561139,3.628203,6.102705,4.159852,11.25242,2.563022,2.445918,6.403774
2012 [YR2012],8.07,..,2.280688,1.533102,2.189615,1.442695,2.448001,1.611995,-0.429646,2.231567,...,6.76,..,2.587654,0.711106,1.360624,-0.49348,2.14029,-0.439959,0.652087,3.607699
2013 [YR2013],7.37,..,1.841875,1.138692,1.781569,1.078803,1.213007,2.389576,2.80985,1.146261,...,6.14,..,4.415502,2.48512,4.950959,3.010679,0.96746,5.793942,0.981382,3.99756
2014 [YR2014],6.17,..,2.287776,1.540381,2.263179,1.515964,5.16046,2.275465,1.77198,2.272707,...,5.79,..,3.919127,1.943377,5.367129,3.363849,2.27642,-0.858773,-1.651901,5.347359
2015 [YR2015],5.28,..,2.70637,1.953004,2.584132,1.831663,5.186372,2.367074,1.015219,2.723506,...,5.18,..,2.485826,0.475269,2.214634,0.209397,-0.2122,1.064712,0.075766,2.862701
2016 [YR2016],4.87,..,1.667472,0.933375,1.701427,0.967085,1.451673,0.608765,-0.296072,1.884232,...,4.72,..,4.52168,2.492644,4.462401,2.434515,9.997484,-1.791082,-3.775154,5.276558
2017 [YR2017],4.36,..,2.241921,1.597136,2.50932,1.862848,4.508349,3.16432,3.357372,2.015631,...,4.14,..,4.276596,2.27443,4.69872,2.688449,4.39299,3.406352,3.868018,4.882291
2018 [YR2018],3.9,..,2.945385,2.404868,2.854645,2.314604,4.20508,3.120148,4.206614,2.840502,...,3.92,..,4.070322,2.084471,4.520688,2.526242,7.15185,7.510471,8.825248,3.008247
2019 [YR2019],3.67,..,2.294439,1.829668,2.182576,1.718314,1.144719,2.286841,1.566113,2.352841,...,3.73,..,4.156138,2.186674,3.641872,1.682132,3.16057,3.895974,3.874554,4.128935
2020 [YR2020],8.05,..,-2.767803,-3.700953,-3.119944,-4.049715,-8.957766,-3.520053,-4.60241,-2.396564,...,4.17,..,-1.857289,-3.573037,-2.189025,-3.898974,-8.14861,-0.531169,2.787557,-1.924956
2021 [YR2021],5.35,..,5.945485,5.779548,5.743979,5.578358,14.134126,3.254431,6.789701,6.631551,...,4.81,..,8.61199,6.876926,7.903397,6.179653,20.64214,6.046328,4.807323,9.15127

In [296]:
raw_wbdata = pd.read_csv('./Data/API_19_DS2_en_csv_v2_6183479.csv', skiprows=3)
raw_wbdata.drop('Unnamed: 67', axis=1, inplace=True)
raw_wbdata.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.776,50.761000,50.746000,50.730000,50.715000,50.700000,...,42.990000,43.041000,43.108000,43.192000,43.293000,43.411000,43.546000,43.697000,43.866000,44.052000
1,Aruba,ABW,Urban population,SP.URB.TOTL,27728.000,28330.000000,28764.000000,29157.000000,29505.000000,29802.000000,...,44228.000000,44588.000000,44943.000000,45297.000000,45648.000000,45999.000000,46351.000000,46574.000000,46734.000000,46891.000000
2,Aruba,ABW,Urban population growth (annual %),SP.URB.GROW,NaN,2.147858,1.520329,1.357042,1.186472,1.001576,...,0.826413,0.810669,0.793026,0.784578,0.771899,0.765986,0.762321,0.479958,0.342951,0.335381
3,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.000,55811.000000,56682.000000,57475.000000,58178.000000,58782.000000,...,102880.000000,103594.000000,104257.000000,104874.000000,105439.000000,105962.000000,106442.000000,106585.000000,106537.000000,106445.000000
4,Aruba,ABW,Population growth (annual %),SP.POP.GROW,NaN,2.179059,1.548572,1.389337,1.215721,1.032841,...,0.749301,0.691615,0.637959,0.590062,0.537296,0.494795,0.451970,0.134255,-0.045045,-0.086392

In [297]:
raw_wbdata.set_index(['Country Code', 'Indicator Code'], inplace=True)

In [298]:
raw_wbdata.xs('SP.POP.TOTL', level='Indicator Code')

,Country Name,Indicator Name,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,Aruba,"Population, total",54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,59291.0,59522.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0
AFE,Africa Eastern and Southern,"Population, total",130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,153955516.0,158313235.0,...,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720839314.0
AFG,Afghanistan,"Population, total",8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,9783147.0,10010030.0,...,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0
AFW,Africa Western and Central,"Population, total",97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,110798486.0,113319950.0,...,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0
AGO,Angola,"Population, total",5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,5787044.0,5827503.0,...,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,Kosovo,"Population, total",947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,1106000.0,1135000.0,...,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,1761985.0
YEM,"Yemen, Rep.","Population, total",5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,6228430.0,6368014.0,...,26984002.0,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0,33696614.0
ZAF,South Africa,"Population, total",16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,19789771.0,20410677.0,...,53873616.0,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0,59893885.0
ZMB,Zambia,"Population, total",3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,3777680.0,3901288.0,...,15234976.0,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0,20017675.0
ZWE,Zimbabwe,"Population, total",3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,4588529.0,4734694.0,...,13555422.0,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,16320537.0

In [303]:
raw_wbdata_test = raw_wbdata.T
raw_wbdata_test.columns.name = None
raw_wbdata_test

Country Code                                         ABW                    \
Indicator Code                         SP.URB.TOTL.IN.ZS       SP.URB.TOTL
Country Name                                       Aruba             Aruba
Indicator Name  Urban population (% of total population)  Urban population
1960                                              50.776           27728.0
1961                                              50.761           28330.0
1962                                              50.746           28764.0
...                                                  ...               ...
2018                                              43.411           45999.0
2019                                              43.546           46351.0
2020                                              43.697           46574.0
2021                                              43.866           46734.0
2022                                              44.052           46891.0

Country Code                                                           \
Indicator Code                         SP.URB.GROW        SP.POP.TOTL
Country Name                                 Aruba              Aruba
Indicator Name  Urban population growth (annual %)  Population, total
1960                                           NaN            54608.0
1961                                      2.147858            55811.0
1962                                      1.520329            56682.0
...                                            ...                ...
2018                                      0.765986           105962.0
2019                                      0.762321           106442.0
2020                                      0.479958           106585.0
2021                                      0.342951           106537.0
2022                                      0.335381           106445.0

Country Code                                  \
Indicator Code                   SP.POP.GROW
Country Name                           Aruba
Indicator Name  Population growth (annual %)
1960                                     NaN
1961                                2.179059
1962                                1.548572
...                                      ...
2018                                0.494795
2019                                 0.45197
2020                                0.134255
2021                               -0.045045
2022                               -0.086392

Country Code                                                       \
Indicator Code                                        SI.POV.DDAY
Country Name                                                Aruba
Indicator Name  Poverty headcount ratio at $2.15 a day (2017 P...
1960                                                          NaN
1961                                                          NaN
1962                                                          NaN
...                                                           ...
2018                                                          NaN
2019                                                          NaN
2020                                                          NaN
2021                                                          NaN
2022                                                          NaN

Country Code                                                       \
Indicator Code                                     SH.STA.MALN.ZS
Country Name                                                Aruba
Indicator Name  Prevalence of underweight, weight for age (% o...
1960                                                          NaN
1961                                                          NaN
1962                                                          NaN
...                                                           ...
2018                                                          NaN
2019                                                          NaN
2020                                                          NaN
2021                                                          NaN
2022                                                          NaN

Country Code                                                 \
Indicator Code                               SH.MED.CMHW.P3
Country Name                                          Aruba
Indicator Name  Community health workers (per 1,000 people)
1960                                                    NaN
1961                                                    NaN
1962                                                    NaN
...                                                     ...
2018                                                    NaN
2019                                                    NaN
2020                                                    NaN
2021                                                    NaN
2022                                                    NaN

Country Code                                                     \
Indicator Code                                      SH.DYN.MORT
Country Name                                              Aruba
Indicator Name  Mortality rate, under-5 (per 1,000 live births)
1960                                                        NaN
1961                                                        NaN
1962                                                        NaN
...                                                         ...
2018                                                        NaN
2019                                                        NaN
2020                                                        NaN
2021                                                        NaN
2022                                                        NaN

Country Code                                                       ...  \
Indicator Code                                     SE.PRM.CMPT.ZS  ...
Country Name                                                Aruba  ...
Indicator Name  Primary completion rate, total (% of relevant ...  ...
1960                                                          NaN  ...
1961                                                          NaN  ...
1962                                                          NaN  ...
...                                                           ...  ...
2018                                                          NaN  ...
2019                                                          NaN  ...
2020                                                          NaN  ...
2021                                                          NaN  ...
2022                                                          NaN  ...

Country Code                             ZWE                        \
Indicator Code                AG.LND.FRST.ZS        AG.LND.FRST.K2
Country Name                        Zimbabwe              Zimbabwe
Indicator Name  Forest area (% of land area)  Forest area (sq. km)
1960                                     NaN                   NaN
1961                                     NaN                   NaN
1962                                     NaN                   NaN
...                                      ...                   ...
2018                               45.332093              175367.2
2019                               45.213002              174906.5
2020                               45.093912              174445.8
2021                               44.974822              173985.1
2022                                     NaN                   NaN

Country Code                                                       \
Indicator Code                                     AG.LND.EL5M.ZS
Country Name                                             Zimbabwe
Indicator Name  Land area where elevation is below 5 meters (%...
1960                                                          NaN
1961                                                          NaN
1962                                                          NaN
...                                                           ...
2018                                                          NaN
2019                                                          NaN
2020                                                          NaN
2021                                                          NaN
2022                                                          NaN

Country Code                                                       \
Indicator Code                                  AG.LND.EL5M.UR.ZS
Country Name                                             Zimbabwe
Indicator Name  Urban land area where elevation is below 5 met...
1960                                                          NaN
1961                                                          NaN
1962                                                          NaN
...                                                           ...
2018                                                          NaN
2019                                                          NaN
2020                                                          NaN
2021                                                          NaN
2022                                                          NaN

Country Code                                                       \
Indicator Code                                  AG.LND.EL5M.UR.K2
Country Name                                             Zimbabwe
Indicator Name  Urban land area where elevation is below 5 met...
1960                                                          NaN
1961                                                          NaN
1962                                                          NaN
...                                                           ...
2018                                                          NaN
2019                                                          NaN
2020                                                          NaN
2021                                                          NaN
2022                                                          NaN

Country Code                                                       \
Indicator Code                                  AG.LND.EL5M.RU.ZS
Country Name                                             Zimbabwe
Indicator Name  Rural land area where elevation is below 5 met...
1960                                                          NaN
1961                                                          NaN
1962                                                          NaN
...                                                           ...
2018                                                          NaN
2019                                                          NaN
2020                                                          NaN
2021                                                          NaN
2022                                                          NaN

Country Code                                                       \
Indicator Code                                  AG.LND.EL5M.RU.K2
Country Name                                             Zimbabwe
Indicator Name  Rural land area where elevation is below 5 met...
1960                                                          NaN
1961                                                          NaN
1962                                                          NaN
...                                                           ...
2018                                                          NaN
2019                                                          NaN
2020                                                          NaN
2021                                                          NaN
2022                                                          NaN

Country Code                                  \
Indicator Code                AG.LND.ARBL.ZS
Country Name                        Zimbabwe
Indicator Name  Arable land (% of land area)
1960                                     NaN
1961                                 4.87269
1962                                5.001939
...                                      ...
2018                               10.339925
2019                               10.339925
2020                               10.339925
2021                               10.339925
2022                                     NaN

Country Code
Indicator Code                      AG.LND.AGRI.ZS              AG.LND.AGRI.K2
Country Name                              Zimbabwe                    Zimbabwe
Indicator Name  Agricultural land (% of land area)  Agricultural land (sq. km)
1960                                           NaN                         NaN
1961                                     28.396019                    109850.0
1962                                     28.615743                    110700.0
...                                            ...                         ...
2018                                     41.876696                    162000.0
2019                                     41.876696                    162000.0
2020                                     41.876696                    162000.0
2021                                     41.876696                    162000.0
2022                                           NaN                         NaN

[65 rows x 20216 columns]